doctype html
html
	head
		title #{title}
		
		style
			include style.css
	body
		h1 задачки
		table
			tr
				td(align='left') 
					form(method='get', action='/showall')
						input(type='submit', value='Показать все задачи')
			tr
				td(align='left')
					form(method='get', action='/add')
						input(type='submit', value='Добавить новую задачу')
			//- tr
			//- 	td
			//- 		form(method='post',action='/show') 
			//- 			input(type='submit', value='Показать по id') 
			//- 			input(type='text', name='id')
			//- 		a(class = error ? "visible" : "hidden")
			//- 		td
			//- 			p #{error}
			tr
				td(align='left')
					form(method='get', action='/showusers')
						input(type='submit', value='Показать всех пользователей')
			tr
				td
					form(method='post', action='/login')
						input(type='submit', value='Авторизация')
						input(type='text', name='username')
						input(type='text', name='password')


					
			//- tr
			//- 	td(align='left')
			//- 		form(method='post', action='/adduser')
			//- 			input(type='submit', value='Добавить нового пользователя')
			//- 			input(type='text', name='userName')
			//- tr
			//- 	td(align='left')
			//- 		form(method='get', action='/showUsers')
			//- 			input(type='submit', value='Показать пользователей')					
			//-script(src="../modules/script1.js")

