doctype html
html
	head
		title #{title}
		style
			include style.css
	body
		h1 задачки
		table
			tr
				td 
					form(method='get', action='/showall')
						input(type='submit', value='Показать все задачи')
			tr
				td
					form(method='post',action='/show') 
						input(type='submit', value='Показать по id') 
						input(type='text', name='id')
					a(class = error ? "visible" : "hidden")
					td
						p #{error}
			tr
				td
					form(method='get', action='/add')
						input(type='submit', value='Добавить новую задачу')


