doctype html
html
	head
		title #{title}
		style
			include style.css
	body
		a.button(href='/') На главную
		table(border='1', cellpadding='7')
			tr
				//id не для юзера, а для компа
				td(colspan='1', bgcolor='#D3EDF6', align='center') id 					 
				td(colspan='1', bgcolor='#D3EDF6', align='center') Имя
			each i in rows
				tr
					td= i.id
					td= i.name
		
		.block1
			form(method='post', action='/addUser')
				input(type='submit', value='Добавить нового пользователя')
				input(type='text', name='userName', align='left')

