h1 {
	font-size: 50px;
}

body {
    min-width: 400px;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 14px;
    text-align: center;
    background: #494F4E;;
}

.button {
	border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
}

.button:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;

}
.block1 { 
    width: 260px; 
    background: #222;
    padding: 5px;
    float: left;
}